*{
    padding: 0;
    border-radius: 0.5rem;
    margin: 0;
}

#amazonSite{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    margin: 0.5rem;
    height: 100%;
    width: 98.5%;
    /* background: transparent;
    box-shadow: 1px 1px 30px  rgba(49, 45, 45,0.8); */
}

.flexContainer {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

#headerContainer {
    position: absolute;
    background: linear-gradient(90deg, rgb(0, 0, 0), rgba(49, 45, 45,0.8));
    height:5%;
    width:97%;
}
#headerContainer p{
    cursor: pointer;
    color:rgb(204, 204, 204)
}

.siteLink {
    color:rgb(221, 148, 3) !important;
    font-size: 1.5rem;
}

#headerContainer input{
    border: none;
    width:10rem;
    color:rgb(0, 0, 0);
    border-radius: 0.5rem;
    padding: 0.2rem;
}
#headerContainer button{
    /* border-radius: 0.5rem; */
    width:4rem;
    cursor: pointer;
    background-color: rgb(221, 148, 3);
    color:rgb(0, 0, 0);
    padding: 0.2rem;
}
#headerContainer button:hover{
    /* border-radius: 0.5rem; */
    background-color: rgb(255, 234, 0);
}

#contentBox {
    background: linear-gradient(90deg, rgb(87, 81, 81), rgba(105, 99, 99, 0.8));
    height:34rem;
    position: relative;
    top:4rem;
    max-height: 40rem;
   
    padding: 0 !important;
    display: flex;
    flex-direction: row;
    /* text-align: center; */
    flex-wrap: wrap;
    gap: 0.2rem;
    
}


.contentItems{
    width: 16rem;
    height: 15rem;
    margin: 0.8rem 0.8rem 0rem 0rem;

    /* align-content: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-items: center; */
    background: linear-gradient(180deg, rgb(0, 0, 0), rgb(34, 32, 32));
}
.contentItems:first-child {
    margin-left: 0.8rem;
}
.contentItems:nth-child(4n - 3) {
    margin-left: 0.8rem;
}

.innerDiv1{
    width: 10rem;
    height: 10rem;
    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in;
    transition-delay: 2s; */
    transition: all 2s ease-out 0.2s;
    background: linear-gradient(180deg, rgb(43, 14, 14), rgb(227, 19, 19));
}
.innerDiv1:hover{
    cursor: pointer;
    transform: translate(51rem,0rem);
    background: linear-gradient(90deg, rgb(27, 7, 208), rgb(22, 195, 218));
}

.innerDiv2{
    width: 10rem;
    height: 10rem;
    transition: all 3s ease-in 0.2s;
    background: linear-gradient(180deg, rgb(84, 82, 82), rgb(254, 254, 254));
}
.innerDiv2:hover{
    cursor: pointer; 
    transform: scale(0.5,0.5)  rotate(45deg);/* //scale(width,height) */
    border-radius: 50%;
    background: linear-gradient(90deg, rgb(27, 7, 208), rgb(22, 195, 218));
}

.innerDiv3{
    width: 10rem;
    height: 10rem;
    transition: all 3s ease-in 0.2s;
    background: linear-gradient(180deg, rgb(84, 82, 82), rgb(57, 108, 31));
}
.innerDiv3:hover{
    cursor: pointer;
    transform: rotate(360deg) scale(0.5,0.5);
    background: linear-gradient(90deg, rgb(147, 219, 235), rgb(22, 218, 51));
}

.innerDiv4{
    width: 10rem;
    height: 10rem;
    transition: all 2s ease-in 0.2s;
    background: linear-gradient(0deg, rgb(4, 4, 4), rgb(223, 103, 103));
}
.innerDiv4:hover{
    cursor: pointer;
    transform: translateY(10rem) scale(2,2);
    background: linear-gradient(90deg, rgb(147, 219, 235), rgb(22, 218, 51));
}

.innerDiv8{
    width: 10rem;
    height: 10rem;
    transition: all 2s ease-in 0.2s;
    background: linear-gradient(0deg, rgb(4, 4, 4), rgb(223, 103, 103));
}
.innerDiv8:hover{
    cursor: pointer;
    transform: translatex(-51rem) scale(0.5,0.5);
    background: linear-gradient(90deg, rgb(147, 219, 235), rgb(22, 218, 51));
}

@keyframes colorAnimate {
    from{
        background-color: yellow;
    }
    to{
        background-color: aliceblue;
    }
}

.innerDiv7{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    /* transition: all 2s ease-in 0.2s; */
    background-color: yellow;
    /* animation-name: colorAnimate;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
    /* animation-fill-mode: forwards; */
    animation: colorAnimate 0.2s linear 1s infinite normal ;
}


.innerDiv8{
    width: 10rem;
    height: 10rem;
    transition: all 2s ease-in 0.2s;
    background: linear-gradient(0deg, rgb(247, 140,23), rgb(197, 211, 0));
}
.innerDiv8:hover{
    cursor: pointer;
    transform: translatex(-51rem) scale(0.5,0.5);
    background: linear-gradient(90deg, rgb(147, 219, 235), rgb(22, 218, 51));
}




































/* @media(width:600px) {
    .contentItems{
        width: 10rem;
        height: 9rem;
    }
    .innerDiv{
        width: 5rem;
        height: 5rem;
        background: linear-gradient(180deg, rgb(43, 14, 14), rgb(227, 19, 19));
    }
}
@media(min-width:200px) and (max-width:400px) {
    .contentItems{
        width: 5rem;
        height: 5rem;
    }
    .innerDiv{
        width: 2rem;
        height: 2rem;
        background: linear-gradient(180deg, rgb(43, 14, 14), rgb(227, 19, 19));
    }
} */


footer {
    /* margin-top: 0.5rem;
    border-radius: 0.5rem; */
    /* height: 10vh; */
    position: relative;
    top: 4rem;
    height:3rem;
    background: linear-gradient(90deg, rgb(0, 0, 0), rgba(49, 45, 45,0.8));
}