.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .mainConatiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
    width: 20rem;
    height: 20rem;
    border-radius: 0.25rem;
    background: linear-gradient(90deg, black, gray);
  }
  
  .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem;
  }
  
  .buttonContainer button {
    width: 2rem;
    height: 2rem;
    border-radius: 0.25rem;
    cursor: pointer;
    background: linear-gradient(90deg, rgb(225, 220, 220), rgb(224, 218, 218));
  }
  
  .boxContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  
  .boxContainer div {
    width: 3rem;
    height: 3rem;
    border-radius: 0.25rem;
    cursor: pointer;
    background: linear-gradient(90deg, rgb(245, 195, 59), rgb(224, 218, 218));
  }
  
  .totalSum {
    font-size: large;
    font-family: fantasy;
    color: white;
    text-shadow: 1px 1px 20px red;
  }
  